---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Sell from '@/components/Sell.astro'
import Sellers from '@/components/Sellers.astro'
import Offerts from '@/components/Offerts.astro'
---

<Layout>
  <main class="max-w-6xl mx-auto px-4 py-20 md:py-0">
    <Hero />
    <Sell />
    <Offerts />
    <Sellers />
  </main>
</Layout>
