---
import BasketIcon from '@/icons/Basket.astro'
---

<section
  class="flex flex-col-reverse items-center justify-between gap-10 md:flex-row md:px-10 md:h-[calc(100vh-80px)]"
>
  <div
    class="text-center flex flex-col items-center justify-center gap-4 md:w-[500px] md:text-left md:block lg:w-[700px]"
  >
    <h1 class="text-5xl font-semibold text-balance lg:text-7xl">
      Let's Buy Some <span class="text-blue-900">ProgGraph</span>
    </h1>
    <p class="mt-2 md:mt-10 mb-4 text-gray-400 text-pretty">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam ab delectus eos corporis
      accusantium deleniti exercitationem, consequatur minima!
    </p>
    <a
      href="#"
      class="flex gap-2 items-center text-lg w-[200px] p-2 rounded-[60px] text-white bg-black"
    >
      <div class="p-1 rounded-[50%] bg-white">
        <BasketIcon />
      </div>
      <span>Buy now</span>
    </a>
  </div>

  <img
    src="/assets/header.png"
    alt=""
    class="object-cover md:ml-10 w-[400px] md:w-[325px] lg:w-[265px]"
  />
</section>
